<div id = 'sidebar'>
    <h2><strong>MENU<strong></h2>
    <ul >
        <li>
            <h6><%= link_to "Articles", articles_path %></h6>
        </li>
        <li>
            <h6><%= link_to "Tags", tags_path %></h6>
        </li>
    </ul>
</div>